In [10]:
#to print contents of file we can use file.read() but it can't be processed
#remember split, rstrip and strip 

#Q. open a file specified by the user and raise an exception if the mode of the file is other than read 
   #otherwise display the entire file and count the number of words in it
#ans: 
try: 
    file_name = input("Enter filename: ")
    mode = input("enter mode to open file: ")
    if mode != 'r':
        raise e
    else:
        file = open(file_name,mode)
        for line in file:
            x = line.strip().split(" ")
            print(x)
    count = 0
    for i in x:
        count = count + 1
    print(count)
except Exception as e:
    print("Invalid Mode")

Enter filename: abc.txt
enter mode to open file: r
['this', 'and', 'this', 'is', 'great', 'and', 'this', 'is', 'also', 'great']
['hey', 'how', 'ar', 'eu', 'man', 'whatsjoiehfoiw']
6

In [ ]:
'''Steps to deal with file:
1. open file with open(filename, mode). It returns file object
2. iterate through the file using for loop. split() method breaks the words in file using delimiters eg: for line in filename
   
3. break each line into words using split(). Before suing split(), either use rstrip() or strip() to remove whitespaces in the line'''

In [1]:
#eg of rstrip and strip
s = '\n \t 1,2,3,4,5 \n \n \t'
a = s.split(',')# here we define comma as delimiter so that split can be split words suing this delimiter
b = s.rstrip().split(',')#rstrip is right end stripping which removes whitespace only from the right sides
c = s.strip().split(',')#strip removes all the whitespace in the line
print(a)
print(b)
print(c)

['\n \t 1', '2', '3', '4', '5 \n \n \t']
['\n \t 1', '2', '3', '4', '5']
['1', '2', '3', '4', '5']

In [2]:
#question on dataframe
import pandas as pd
data = {"Omar":[10,20,30], "Ali":[1,2,3], "Osama":[0,1,2]}
df = pd.DataFrame(data, index=["Course1", "Course2", "Course3"])
df['Mean'] = (df['Ali'] + df['Omar'] + df['Osama'])/3
df

         Omar  Ali  Osama       Mean
Course1    10    1      0   3.666667
Course2    20    2      1   7.666667
Course3    30    3      2  11.666667